<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hamburger Royale</title>
        <meta charset="utf-8"/>
        <!-- link rel="stylesheet" type="text/css" href="css/reset.css"-->
        <script src="/socket.io/socket.io.js" defer></script>
        <script type="text/javascript" src="js/menu.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/js_script.js" defer></script>
        <script src="https://vuejs.org/js/vue.js" defer></script>
        <script src="js/vue_script.js" defer></script>
    </head>
    <body>
        <main>
            <figure>
                <img id="headerpic" src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1556596185000/photosp/ea29eed9-c59d-4180-8974-88da735b2bea/stock-photo-blur-abstract-bar-bright-bokeh-board-background-blank-table-top-backdrop-ea29eed9-c59d-4180-8974-88da735b2bea.jpg">
                <h1 id="heading">Welcome to Hamburger Royale</h1>
            </figure>
            <section id="burgers">
                <h2>Select burger</h2>
                <p>This is the section where you select your burger</p>

                <div id="menu" class="wrapper">
                    <div v-for="burger in burgers" >
                        <h3> {{burger.name}} </h3>
                        <img v-bind:src="burger.src" width="250" height="250" >
                        <ul>
                            <li>{{burger.special}}</li>
                            <li>kcal: {{burger.kcal}}</li>
                            <li v-if="burger.glut">contains <b>gluten</b></li>
                            <li v-if="burger.lact">contains <b>lactose</b></li>
                            <input v-model="selectedBurgers" type="checkbox" v-bind:value="burger.name" v-bind:name="burger.name"> Order!
                        </ul>
                    </div>
                </div>
            </section>
            <section id="order">
                <h2>Customer info</h2>
                <p>Customer info goes here</p>
                <h3>Delivery information</h3>
                <p>
                    <label for="fullname">Full Name</label><br>
                    <input type="text" id="fullname" name="fn" required="required" placeholder="Full name" />
                </p>
                <p>
                    <label for="email" >Email</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
                </p>
                <h1> Click in the map! </h1>
                <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
                <div class="view-box">
                    <div id="dots" v-on:click="displayOrder">
                        <div
                            v-bind:style="{ left: target.x + 'px', top: target.y + 'px'}">
                            T
                        </div>
                    </div>
                </div>
                <p>
                    <label for="paymentmethod">Payment method</label><br />
                    <select id="paymentmethod" name="pm">
                        <option>Credit card</option selected="selected">
                        <option>Swish</option>
                        <option>Bank transfer</option>
                        <option>14 day payment plan</option>
                    </select>
                </p>
                <h3>Gender</h3>
                <input type="radio" name="gender" value="Male" > Male
                <input type="radio" checked name="gender" value="Female" > Female
                <input type="radio" name="gender" value="Other" > Other
                <input type="radio" name="gender" value="Rather not say" > Rather not say
                <button v-on:click="addOrder" id="makeOrder" type="submit"><img src="https://cdn.imgbin.com/17/11/4/imgbin-check-mark-computer-icons-ok-symbol-green-check-illustration-SmJKRyF4rXtPn1RBaDLr2R88p.jpg" width="30" height="25" /> Send Info</button>
                <p v-for="info in userInfo">
                    {{info}}
                </p>
                <p>
                    <span v-for="burger in selectedBurgers"> {{burger}} </span>
            </section>
        </main>
        <footer>
            <p>©Made up company Inc</p>
        </footer>
    </body>
</html>

