<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hamburger Online</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main>
            <section> 
                <h1>Välkommen till Hamburger Online</h1>
                <h2>Select burger</h2>
                <p>This is the section where you select your burger</p>
            </section>
            <section>
                <h2>Customer info</h2>
                <p>Customer info goes here</p>
            </section>
        </main>
        <footer>
            <p>Hello</p>
        </footer>
    </body>
</html>

