<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hamburger Online</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main>
            <section> 
                <h1>Välkommen till Hamburger Online</h1>
                <h2>Select burger</h2>
                <p>This is the section where you select your burger</p>
                <table>
                    <thead>
                        <th>The nice size burger</th>
                        <th>King burger deluxe</th>
                        <th>Veggie delight xxl</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="hejsvejs" alt="The nice size burger" width="150" >
                            </td>
                            <td>
                                <img src="kiiiing" alt="King burger deluxe" width="150" >
                            </td>
                            <td>
                                <img src="veganboyyys" alt="Veggie delight xl" with="150" >
                            </td>
                        </tr>
                        <tr>
                            <td>900 calories</td>
                            <td>1200 calories</td>
                            <td>800 calories</td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Contain gluten</li>
                                    <li>Lactose free</li>
                                    <li>Good value!</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Triple patties</li>
                                    <li>Contains gluten</li>
                                    <li>Contains lactose</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Vegan</li>
                                    <li>New burger!</li>
                                    <li>Eco friendly</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h2>Customer info</h2>
                <p>Customer info goes here</p>
            </section>
        </main>
        <footer>
            <p>Hello</p>
        </footer>
    </body>
</html>

