@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

body {
    font-family: Arial, sans-serif;
    font-size: 1.2em;

}
/*
.allergies {
    color: white;

}
*/

#allergies {
    font-weight:bold;
}

#burgers {
    color: white;
    background-color: black;
}

#order {
}


input[type="radio"]{
    height: 0.7em;
    width: 0.7em;
}


button:hover{
    color:blue;
    background-color:green;
}

